# Maven target directory
/target/

# Maven build config backup
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/

